<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aulia Hakiem Noersedya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/rebirth.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0">
          <div class="container" id="jumbo-container">
            <div class="row align-items-start" style="height: 50%; margin-top: 0">
              <div class="col text-center">
                <h1 class="display-4">Aulia Hakiem Noersedya</h1>
              </div>
            </div>
            <div class="row align-items-end" style="height: 40%">
              <div class="col-6 offset-3">
                <ul class="nav nav-pills nav-fill">
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="about">
        <div class="container">
          <div class="row content-row">
            <div class="col-md-4 col-xs-12 get-space">
              <div class="row flex-column">
                <h2>I'm Aulia Hakiem, a geoscientist turned a developer.</h2>
                <p>A "try-hard" Bachelor of Science from Institut Teknologi Bandung. An avid learner and a graduate from Hacktiv8's full stack web developer bootcamp. A leader and a friend. Always deliver his best at anything. Not artistic, but appreciate beauty.</p>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 offset-md-1 get-space">
              <div class="row flex-column">
                <h2>My skillset</h2>
              </div>
              <div class="row flex-column">
                <p class="title"><strong>Front-end</strong></p>
                <p>HTML5, CSS3, Javascript, jQuery, React.js with Redux, Vue.js with Vuex</p>
              </div>
              <div class="row flex-column">
                <p class="title"><strong>Back-end</strong></p>
                <p>Node.js, Express.js, APIs, SQL, NoSQL, Cache with Redis</p>
              </div>
              <div class="row flex-column">
                <p class="title"><strong>Mobile</strong></p>
                <p>React Native with Native Base or Element</p>
              </div>
              <div class="row flex-column">
                <p class="title"><strong>Cloud</strong></p>
                <p>AWS, GCP, Firebase</p>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 offset-md-1">
              <div class="row flex-column">
                <h2>Dreams</h2>
              </div>
              <div class="row flex-column">
                <p>A glimpse of my pipe dreams..</p>
              </div>
              <div class="row">
                <ul>
                  <li>Board a trans-siberian train</li>
                  <li>Ride a hot air balloon</li>
                  <li>Run a triathlon</li>
                  <li>Speak in a tech conference</li>
                  <li>Work at Tesla</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row content-row">
            <div class="col-md-4 col-xs-12">
              <div class="row flex-column get-space">
                <h2>Recent blabbers</h2>
                <p>The latest of my Medium post</p>
                <div v-for="blog in blogs">
                  <p class="title"><a :href="blog.link">{{ blog.title }}</a></p>
                  <p><small>{{ new Date(blog.pubDate).toDateString() }}</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 offset-md-1">
              <div class="row flex-column get-space">
                <h2>Reading list</h2>
                <div v-for="book in books">
                  <p class="title"><strong><a :href="book.link">{{ book.title }}</a></strong></p>
                  <p><small>by {{ book.author }}</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 offset-md-1">
              <div class="row flex-column">
                <h2>Find me</h2>
                <p><a href="https://www.facebook.com/aulia.hakiem.n">Facebook</a> / <a href="https://twitter.com/hakiemaul">Twitter</a> / <a href="https://www.linkedin.com/in/aulia-hakiem-noersedya/">Linkedin</a> / <a href="https://medium.com/@hakiemaul">Medium</a> / <a href="https://github.com/hakiemaul/">Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="projects">
        <div class="container">
          <div class="row">
            <div class="col get-space">
              <h2>My Projects</h2>
            </div>
          </div>
          <div class="row each-project project-slide-right">
            <div class="col-md-4 col-xs-12">
              <div class="row flex-column">
                <img src="./images/REST.png" alt="" class="rounded img-thumbnail get-space">
              </div>
            </div>
            <div class="col-md-7 offset-md-1 col-xs-12">
              <h3>REST Man - Restaurant Manager</h3>
              <p>REST Man is a restaurant management system with the <strong>automated reporting system</strong> and <strong>new menu suggestion</strong> as the main features, along with realtime ordering system. This project was built in <strong>7 days</strong> as a part of my Hacktiv8 bootcamp's final project with two partners. In this project, I was assigned as the <strong>team leader</strong> and mostly handled the <strong>mobile client</strong> side of the application using React Native. Beside developing the Android app, I was also responsible to delegate the tasks, check the team's progress day by day, initiate the daily briefing and managing our git repositories.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          blogs: [],
          books: []
        },
        methods: {
          getBlog: function () {
            var self = this
            axios.get('https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2F%40hakiemaul')
            .then(response => {
              self.blogs = response.data.items.slice(0, 5)
            })
          },
          getBooks: function () {
            var self = this
            axios.get('https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.goodreads.com%2Freview%2Flist_rss%2F69696337%3Fkey%3DKt_Vre8mSb4JqwSkImm1J1jg67cr6EHOMsxA_NO0pcmu3SQS%26shelf%3D%2523ALL%2523')
            .then(response => {
              let books = response.data.items.map((book, index) => {
                if (index < 5) {
                  let splitAuthor = book.content.split('author: ')
                  let getAuthor = splitAuthor[1].split('<br>')
                  console.log(book.link)
                  return {
                    title: book.title,
                    author: getAuthor[0],
                    link: book.link
                  }
                }
              })
              self.books = books
            })
          }
        },
        created () {
          this.getBlog()
          this.getBooks()
        }
      })
      $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          // On-page links
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
              // Only prevent default if animation is actually gonna happen
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000, function() {
                // Callback after animation
                // Must change focus!
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) { // Checking if the target was focused
                  return false;
                } else {
                  $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                  $target.focus(); // Set focus again
                };
              });
            }
          }
        });
        $(window).scroll(function () {
            $('.each-project').each(function () {
                var imagePos = $(this).offset().top;
                var imageHeight = $(this).height();
                var topOfWindow = $(window).scrollTop();

                if (imagePos < topOfWindow + imageHeight && imagePos + imageHeight > topOfWindow) {
                    $(this).addClass("project-slide-right");
                } else {
                    $(this).removeClass("project-slide-right");
                }
            });
        });
    </script>
  </body>
</html>