* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #5D6063;
}

header {
  text-align: center;
  color: #FFF;
}

.jumbotron {
  display: block;
  position: relative;

  font-family: serif;
}

.jumbotron::after {
  content: "";
  background: url(images/nature.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav {
  background-color: white;
  opacity: 0.7;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

nav li {
  list-style-type: none;

  margin-top: .5em;
  padding-bottom: .5em;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.logo img {
  height: 40px;
  z-index: 1;
}

.logo p {
  font-size: 26px;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

li .logo {
  align-items: center;
}

.emblem,
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-family: 'PT Serif', serif;
  position: relative;
  top: 5px;
  padding-left: 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: darkblue;
}

.menu a:active {
  color: red;
}
.menu li {
  border-top: 2px solid grey;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  font-size: 18px;
}

.head {
  text-align: center;
  padding: 100px 0;
  color: black;
  line-height: 4em;
  font-family: 'Playfair Display', serif;
}

.head h1 {
  font-size: 54px;
}

.image img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.opening p {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}
.content p,
.content h2 {
  margin: 10px 0;
}

footer {
  font-family: serif;
  text-align: center;
}

.form-row textarea {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;

    border: 1px solid #d6d9dc;
    border-radius: 3px;

    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
  }
@media only screen and (min-width: 961px) {
  .page {
    width: 80%;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .menu li {
    justify-content: flex-end;
    margin-left: 30px;
  }

  .image {
    width: 90%;
    margin-right: 20px;
  }


  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .container:last-of-type {
    flex-direction: row;
  }

}
